* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.converterBox {
    border:1px solid black;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(72, 72, 214);
    float: left;
    margin: 15px;
}
.converterBox h2 {
    font-size: 18px;
    color: rgb(0, 0, 131);
}
.converterBox input[type="text"] {
    margin:10px;
    padding: 5px;
}
.converterBox button {
    background-color:rgb(0, 0, 122);
    color: white;
    border: none;
    outline: none;
    padding: 7px;
    border-radius: 5px;
}
.converterBox p {
    font-weight: bold;
    font-size:13px;
}
header {
    background-color: black;
}
header p {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 15px;
}
