.container {
    display: flex;
    flex-direction: row;
}
.container > div {
    border:1px solid black;
    width: 100%;
}
section {
    width: 1200px;
    margin: auto;
    background-color: yellow;
}