@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: 0;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
.converterBox {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 2px gray;
    width: 350px;
    float:left;
    margin: 15px;
    font-size: 14px;
}
.converterBox input[type="text"] {
    padding:5px;
    margin:10px;
}
.converterBox button {
    background-color: blue;
    color: yellow;
    padding: 7px;
    border:none;
    border-radius: 5px;
}
header {
    background-color:black;
    padding:20px;
}
header p {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
main {
    padding: 20px;
}