/*Configurações gerais*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin:0px;
    box-sizing:border-box;
}

body {
    background-color:rgb(233, 233, 233);
    font-family: 'Roboto', sans-serif;
}

p {
    color: rgb(20, 20, 20);
}

.container {
    width: 1000px;
    margin:auto;
}

header, main {
    background-color: white;
    padding:20px;
    margin-top:20px;
}