.post h1 {
    color: red;
}
.post {
    width: 500px;
    margin:auto;
    margin-bottom:20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.data {
    text-align: right;
}